<header class="fixed top-0 w-full h-16 shadow backdrop-blur-sm rounded-lg overflow-hidden">
    <nav class="w-full h-full mx-auto flex gap-8 items-center overflow-hidden">
      <ul class="flex">
        <li>
          <a href="" class="text-sm px-8 py-6 transition duration-200 ease-in hover:bg-[#172554] hover:text-white">IDE</a>
        </li>
        <li>
          <a href="" class="text-sm px-8 py-6 transition duration-200 ease-in hover:bg-[#172554] hover:text-white">Sobre</a>
        </li>
        <li>
          <a href="" class="text-sm px-8 py-6 transition duration-200 ease-in hover:bg-[#172554] hover:text-white">Docs</a>
        </li>
      </ul>
  </nav>
</header>