<div class="p-4 ">
  <aside>
    <h3 class="text-xl"><a href="http://">FUNDAMENTOS DO HTML</a></h3>
    <ul>
      <li><a href="#introducao">Introdução</a></li>
      <li><a href="http://">Estrutura Básica</a></li>
      <li><a href="http://">Semântica HTML</a> </li>
      <li><a href="http://">Títulos</a></li>
      <li><a href="http://">Paragrafos</a></li>
      <li><a href="http://">Textos</a></li>
      <li><a href="http://">Listas</a></li>
      <li><a href="http://">Links</a></li>
      <li><a href="http://">Âncoras</a></li>
      <li><a href="http://">Imagens</a></li>
      <li><a href="http://">Urls</a></li>
      <li><a href="http://">Tabelas</a></li>
      <li><a href="http://">Formulários</a></li>
      <li><a href="http://">Botões</a></li>
    </ul>
    <h3><a href="http://">ESTILIZAÇÃO COM CSS</a></h3>
    <ul>
      <li><a href="http://">Introdução</a></li>
      <li><a href="http://">Estrutura Básica</a></li>
      <li><a href="http://">Regras</a> </li>
      <li><a href="http://">Cores</a></li>
      <li><a href="http://">Backgrouns</a></li>
      <li><a href="http://">Textos</a></li>
      <li><a href="http://">Fontes</a></li>
      <li><a href="http://">Bordas</a></li>
      <li><a href="http://">Sombras</a></li>
      <li><a href="http://">Margens</a></li>
      <li><a href="http://">Altura e Largura</a></li>
      <li><a href="http://">Display e Visibilidade</a></li>
      <li><a href="http://">Opacidade</a></li>
      <li><a href="http://">Transformações</a></li>
      <li><a href="http://">Transições</a></li>
      <li><a href="http://">Animações</a></li>
    </ul>
    <h3><a href="http://">APLICANDO JAVASCRIPT AO HTML</a></h3>
    <ul>
      <li><a href="http://">Introdução</a></li>
      <li><a href="http://">Estrutura Básica</a></li>
      <li><a href="http://">Variáveis</a> </li>
      <li><a href="http://">Operadores</a></li>
      <li><a href="http://">Controle de fluxo</a></li>
      <li><a href="http://">Objectos</a></li>
      <li><a href="http://">Funções</a></li>
      <li><a href="http://">Arrays</a></li>
      <li><a href="http://">Strings</a></li>
      <li><a href="http://">Eventos</a></li>
    </ul>
  </aside>
</div>
