<head>
  <%- include ('../partials/head')%>
</head>
<main class="w-full h-screen flex">
  <%- include ('../partials/leftNav')%>
  
    <div class="w-full pt-8 px-8 overflow-y-auto">
      <%- include ('../partials/navBar')%>
  
      <div class="mt-8 py-8 w-full flex justify-center overflow-auto">
       <div class="py-8 w-full flex justify-center">
    <div class="flex flex-col w-1/2">
      <h2 class="text-xl font-bold mb-2">Editar</h2>
      <form action="/user/projects/list" method="post">
        <div>
          <div class="mt-6">
            <label for="nomeProjecto" class="block text-sm font-medium leading-6 text-gray-600">Digite um nome para o
              projecto</label>
            <input type="text" name="nomeProjecto"
              class="p-3 bg-gray-100 block w-full rounded-md border-0 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:py-1.5 sm:text-sm sm:leading-6"
              placeholder="Nome do Projecto">
          </div>
          <div class="mt-4">
            <label for="descrition" class="block text-sm font-medium leading-6 text-gray-600">Descrição do seu
              projecto</label>
            <textarea id="description" name="description" rows="6"
              class="p-3 bg-gray-100 block w-full rounded-md border-0 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:py-1.5 sm:text-sm sm:leading-6"
              placeholder="Descrição do projecto">
            </textarea>
          </div>
          <div class="mt-8">
            <button role="button" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 text-sm font-semibold leading-none text-white focus:outline-none bg-indigo-700 border rounded hover:bg-indigo-600 py-4 w-full">Enviar </button>
          </div>
        </div>
      </form>
    </div>
  </div>
      </div>
    </div>
  </main>