<!DOCTYPE html>
<html lang="pt-pt">
  <head>
    <%- include ('../partials/head')%>
  </head>
  <style>
    * {
      scroll-behavior: smooth;
    }
    .active {
      background-color: #c7d2fe;
      padding: 1rem;
    }
  </style>
  <body class="w-full h-screen overflow-hidden">
    <div class="w-full">
      <%- include ('../partials/navBar')%>
      <div
        class="w-full h-[calc(92vh)] grid grid-cols-[300px_minmax(600px,_1fr)_200px] overflow-hidden overflow-y-auto"
      >
        <%- include ('../partials/summary')%>
        <div class="py-6 px-8 overflow-hidden overflow-y-auto">
          <section>
            <h1 class="text-3xl">Curso de desenvolvimento web</h1>
            <div>
              <h2>Introdução ao HTML</h2>
              <p class="leading-15">
                Em sua essência, HTML é uma linguagem bastante simples composta
                de elementos, que podem ser aplicados a pedaços de texto para
                dar-lhes significado diferente em um documento (é um parágrafo?
                é uma lista de seleção? é parte de uma tabela?), estrutura um
                documento em seções lógicas (Possui um cabeçalho? Três colunas
                de conteúdo? Um menu de navegação?) e incorpora conteúdo como
                imagens e vídeos em uma página. Este módulo irá introduzir os
                dois primeiros e apresentar conceitos fundamentais e a sintaxe
                que você precisa saber para entender o HTML.
              </p>
            </div>
            <h2 class="text-3xl mb-2">Estrutura básica</h2>
            <div class="mb-6">
              <p class="leading-15">
                Basicamente, um documento HTML é composto por elementos
                hierarquicamente organizados. Para inserir um elemento em um
                documento HTML, devemos utilizar as tags correspondentes a esse
                elemento. As tags são definidas com parênteses angulares (
                <strong><</strong> e <strong>></strong> ). Os elementos podem
                possuir atributos e conteúdo. Os atributos são formados por nome
                e valor. Normalmente, os valores dos atributos são definidos
                dentro de aspas dupla e o conteúdo dos elementos é um texto ou
                outros elementos.
              </p>
              <div>//img_estrutura</div>
            </div>
            <div class="mb-6">
              <h4 class="text-xl mb-2">&lt!DOCTYPE&gt;</h4>
              <p class="leading-15">
                Para um navegador exibir corretamente uma página web, devemos
                informar explicitamente o tipo do documento. O tipo do documento
                é informado com a declaração <strong>&lt!DOCTYPE&gt;</strong>.
              </p>
            </div>
            <div class="mb-6">
              <h4 class="text-xl mb-2">&lthtml&gt;</h4>
              <p class="leading-15 mb-2">
                Os elementos HTML, com exceção do <strong>DOCTYPE</strong>,
                devem ser inseridos no conteúdo do elemento **html. Esse
                elemento é aberto com a tag &lthtml&gt; fechado com a tag
                &lt/html&gt; e deve conter exata- mente um elemento
                <strong>head</strong>seguido de exatamente um elemento
                <strong>body</strong>.
              </p>
              <p class="leading-15">
                Diversos autores recomendam a utilização do atributo
                <strong>lang</strong>. Esse atributo indica a língua utili- zada
                no documento HTML ou na maior parte dele. Algumas ferramentas de
                leitura ou de tradução de texto podem utilizar esse atributo
                para descobrir facilmente em qual língua os textos contidos no
                documento HTML ou na maior parte dele foram escritos.
              </p>
            </div>
            <div class="mb-6">
              <h4 class="text-xl mb-2">&lthead&gt;</h4>
              <p class="leading-15 mb-2">
                A principal função do elemento <strong>head</strong> é agrupar
                informações sobre o documento HTML (metain- formação). São
                exemplos de metainformações: o encoding, a taxa de atualização,
                o autor, a descrição e as palavras chaves do documento HTML.
              </p>
              <p class="leading-15">
                O elemento <strong>head</strong> é aberto e fechado pelas tags
                <strong>&lthead&gt;</strong> e
                <strong>&lt/head&gt;</strong> respectivamente. Obrigatoria-
                mente, salvo algumas poucas exceções, o corpo do
                <strong>head</strong> deve conter exatamente uma ocorrência do
                elemento <strong>title.</strong> Esse elemento define o título
                do documento HTML.
              </p>
            </div>
            <div class="mb-6">
              <h4 class="text-xl mb-2">&ltbody&gt;</h4>
              <p class="leading-15">
                O conteúdo de uma página web deve ser definido no corpo do
                elemento <strong>body</strong>. Por exemplo, podemos inserir no
                corpo do <strong>body</strong> cabeçalhos, textos, listas,
                tabelas, entre outros componentes. Esse elemento é aberto pela
                tag <strong>&ltbody&gt;</strong> e fechado pela tag
                <strong>&lt/body&gt;</strong>.
              </p>
            </div>
            <div class="mb-8">
              <h4 class="text-xl mb-2">&ltcomentários&gt;</h4>
              <p class="leading-15">
                Podemos adicionar comentários em um documento HTML dentro das
                tags
                <strong>&lt!-- e --&gt;</strong>. Os comen- tários são ignorados
                pelos navegadores
              </p>
            </div>
          </section>

          <section>
            <h2 class="text-3xl mb-2" id="semantica-html">Semântica HTML</h2>
            <div class="mb-6">
              <p class="leading-15 mb-2">
                De acordo com a especificação da linguagem HTML, a maior parte
                dos elementos possuem um propósito bem definido. Para o
                funcionamento correto das páginas de uma aplicação web, é fun-
                damental respeitar o propósito de cada elemento e utilizá-lo nas
                condições corretas. Muitos autores utilizam o termo semântica
                HTML ao se referirem ao uso correto dos elementos da linguagem
                HTML.
              </p>
              <p class="leading-15">
                No exemplo abaixo, utilizamos o elemento <strong>p</strong> para
                definir um parágrafo. De acordo com a espe- cificação da
                linguagem HTML, esse elemento deve ser utilizado justamente para
                definir parágrafos. Portanto, ele foi aplicado corretamente.
              </p>
              <div>//img_ex_semantica</div>
            </div>
          </section>
          <section>
            <h4 class="text-xl mb-2">Títulos</h4>
            <div>
              <p class="leading-15 mb-2">
                Assim como em um livro, uma página web pode conter uma
                hierarquia de títulos para estabelecer uma divisão do seu
                conteúdo. Para inserir títulos em uma página web, devemos
                utilizar os elementos
                <strong>h1, h2, h3, h4, h5</strong> e <strong>h6</strong>. Os
                sufixos numéricos de 1 a 6 indicam o nível do título dentro da
                hierarquia de títulos do documento. Veja o exemplo:
              </p>
              <div>//img_ex_titulos</div>
              <p class="leading-15 mb-2">
                //observacao--- Observe que os títulos não foram exibidos lado a
                lado e sim um embaixo do outro. Geralmente, os navegadores
                exibem os títulos como blocos. Por padrão, esses blocos ocupam
                todo o espaço ho- rizontal do elemento onde os títulos estão
                contidos. No exemplo, os títulos estão contidos no corpo da
                página. Portanto, ocupam todo o espaço horizontal da página.
                Esse é o comportamento padrão dos block-level elements.
              </p>
              <p class="leading-15 mb-2">
                Geralmente, os navegadores utilizam tamanhos diferentes de fonte
                para cada título. Não existe um padrão de tamanho e de fonte
                entre os navegadores. Em outras palavras, os títulos de uma
                página web podem ser exibidos de maneiras diferentes em
                navegadores distintos. Para padronizar a exibição dos títulos,
                podemos aplicar as regras <strong>CSS</strong>.
              </p>
              <p class="leading-15 mb-2">
                //observacao--- O uso correto dos elementos de título é
                fortemente re- comendado pelos especialistas em SEO //(Search
                Engine Optimization). Para utilizá-los corretamente, devemos
                respeitar basicamente as seguintes regras:
              </p>
              <ul>
                <li>
                  Manter a ordem lógica dos títulos. Um elemento
                  <strong>h2</strong> deve ser precedido de um elemento
                  <strong>h1</strong>. Um elemento <strong>h3</strong> deve ser
                  precedido de um elemento <strong>h2</strong>. E assim
                  sucessivamente.
                </li>
                <li>
                  O título de uma seção deve descrever bem o conteúdo dela.
                </li>
              </ul>
            </div>
          </section>
          <section>
            <h2>Parágrafos</h2>
            <div>
              <p class="leading-15">
                Os parágrafos de uma página web são definidos através do
                elemento
                <strong>p</strong>. Assim como os títulos, normalmente, os
                navegadores definem os parágrafos como
                <strong>block-level elements</strong>. Dessa forma, por padrão,
                eles ocupam horizontalmente todo o espaço do elemento pai.
              </p>
              <p class="leading-15">
                Os navegadores ajustam os textos dos parágrafos à largura do
                elemento pai. As quebras de linha necessárias são inseridas
                automaticamente. Os espaços excedentes definidos em um documento
                HTML entre as palavras de um parágrafo são desconsiderados pelos
                navegadores na exibição das páginas web. Analogamente, as
                quebras de linha presentes no documento HTML também são des-
                consideradas pelos navegadores. Veja o exemplo da declaração de
                um parágrafo abaixo:
              </p>
              <div>//img_ex_paragrafos</div>
            </div>
          </section>
          <section>
            <h2>Textos</h2>
            <div>
              <p class="leading-15">
                Como vimos, os navegadores desconsideram os espaços excedentes
                entre as palavras contidas em um documento HTML assim como
                desconsideram as quebras de linha. Contudo, é possível in- serir
                texto formatado com quantos espaços e quebras de linha
                desejarmos através do elemento <strong>pre</strong>. O texto
                contido no conteúdo de um elemento <strong>pre</strong> é
                exibido com todos os espaços e quebras de linha inseridos no
                documento HTML. Além disso, os navegadores costumam utilizar
                fonte mono espaçada para mostrar esse texto.
              </p>
              <p class="leading-15">
                Assim como os títulos e os parágrafos, normalmente, os
                navegadores definem os textos pré- formatados como
                <strong>block-level element</strong>. Dessa forma, por padrão,
                eles ocupam todo o espaço ho- rizontal do elemento pai. Seguem
                abaixo alguns elementos para formatar texto em HTML:
              </p>
            </div>
            <h4 class="text-2xl mb-4">Texto importante ou enfatizado</h4>
            <div>
              <p class="leading-15">
                Podemos definir textos importantes ou enfatizados com os
                elementos
                <strong>strong</strong> e <strong>em</strong> respectiva- mente.
                Por padrão, nos navegadores, o conteúdo de um elemento
                <strong>strong</strong> é exibido em negrito e o conteúdo de um
                elemento <strong>em </strong> é exibido em itálico.
              </p>
            </div>
            <h4 class="text-2xl mb-4">Texto marcado</h4>
            <div>
              <p class="leading-15">
                O elemento <strong>mark</strong> permite que determinados
                trechos de um texto sejam marcados.
              </p>
            </div>
            <h4 class="text-2xl mb-4">Texto alterado</h4>
            <div>
              <p class="leading-15">
                Em alguns casos, é importante informar que o texto de um
                documento HTML sofreu alterações. Um texto que foi acrescentado
                em um documento HTML deve ser definido com o elemento
                <strong>ins</strong>. Um texto que não faz mais parte do
                documento deve ser definido com o elemento <strong>del</strong>.
                Um texto que deixou de ser correto, preciso ou relevante deve
                ser definido com o elemento <strong>s</strong>. Por padrão,
                esses elementos são exibidos como elementos de linha.
              </p>
            </div>
            <div>//img_ex_elementos_txt</div>
          </section>
          <section>
            <h2>Listas</h2>
            <div>
              <p class="leading-15">
                A linguagem HTML define três tipos distintos de listas.
              </p>
              <ul>
                <li>Listas de descrições</li>
                <li>Listas com ordem</li>
                <li>Listas sem ordem</li>
              </ul>
            </div>
            <h4 class="text-2xl mb-4">Listas de descrições</h4>
            <div>
              <p class="leading-15">
                Para criar uma lista de descrições, devemos utilizar o elemento
                <strong>dl</strong>. Essas listas são formadas por termos ou
                nomes e as suas respectivas descrições. Os termos ou nomes são
                definidos com o elemento <strong>dt</strong>. As descrições são
                definidas com o elemento <strong>dd</strong>.
              </p>
            </div>
            <h4 class="text-2xl mb-4">Listas com ordem</h4>
            <div>
              <p class="leading-15">
                Para criar uma lista com ordem, devemos utilizar o elemento
                <strong>ol</strong>. Os itens de uma lista com or- dem são
                definidos com o elemento <strong>li</strong>.
              </p>
            </div>
            <h4 class="text-2xl mb-4">Listas sem ordem</h4>
            <div>
              <p class="leading-15">
                Para criar uma lista sem ordem, devemos utilizar o elemento
                <strong>ul</strong>. Os itens de uma lista sem or- dem são
                definidos com o elemento <strong>li</strong>.
              </p>
            </div>
            <div>//img_ex_listas</div>
          </section>
          <section>
            <h2>Links</h2>
            <div>
              <p class="leading-15">
                Normalmente, um site é formado por um conjunto de páginas que
                estão interligadas de alguma forma. Para permitir que um usuário
                navegue de uma página para outra, devemos utilizar os links.
                Basicamente, um link faz a ligação de uma página para outra do
                mesmo site (link interno) ou para uma página de outro site (link
                externo).
              </p>
            </div>
            <div>
              <p class="leading-15">
                Para criarmos um link, devemos utilizar o elemento
                <strong>a</strong>. Esse elemento possui um atributo cha- mado
                <strong>href</strong>. O valor desse atributo indica o caminho
                relativo ou absoluto de uma outra página.
              </p>
            </div>
            <div
              class="text-gray-800 text-base my-8 p-6 pl-8 bg-indigo-100 border-l-4 border-indigo-400 rounded shadow leading-15"
            >
              <p>
                //nota Além do atributo <strong>href</strong>, podemos utilizar
                o atributo <strong>target</strong> para informar onde o destino
                de um link deve ser aberto.
              </p>
              <ul>
                <li>
                  <strong>_blank</strong>: Abre o destino do link em uma nova
                  janela ou aba.
                </li>
                <li>
                  <strong>_self</strong>: Abre o destino do link na mesma janela
                  ou no mesmo frame que exibe o documento que contém o link.
                </li>
                <li>
                  <strong>_parent</strong>: Abre o destino do link na janela ou
                  no frame onde está contido o frame que exibe o documento que
                  contém o link.
                </li>
              </ul>
            </div>
            <div>//img_ex_links</div>
          </section>
          <section>
            <h2>Âncoras</h2>
            <div>
              <p class="leading-15">
                Além de criar links para outras páginas, podemos criar um link
                para uma determinada seção de um documento HTML. Esse recurso é
                chamado de *ancoragem. O primeiro passo para utilizar esse
                recurso é identificar a seção que será o destino desse link.
                Essa identificação é realizada com o atributo
                <strong>id</strong>. O <strong>id</strong> é um
                <strong>atributo global</strong>, ou seja, todos os elementos
                possuem esse atributo. O segundo passo é criar os links
                utilizando os identificadores das seções de acordo com a sintaxe
                do exemplo a seguir. Observe a utilização do caractere
                <strong>#</strong>.
              </p>
            </div>
            <div>//img_ex_ancora</div>
          </section>
          <section>
            <h2>Imagens</h2>
            <div>
              <p class="leading-15">
                Certamente, os sites seriam muito entediantes se não fosse
                possível adicionar imagens ao con- teúdo das páginas. Podemos
                adicionar imagens em documento HTML com o elemento
                <strong>img</strong>. Esse elemento possui um atributo chamado
                <strong>src</strong>. Esse atributo indica o caminho absoluto ou
                relativo da imagem que queremos adicionar.
              </p>
              <p class="leading-15">
                O elemento <strong>img</strong> possui um atributo obrigatório
                chamado <strong>alt</strong>. Esse atributo define um texto al-
                ternativo que pode ser utilizado, por exemplo, se houver um
                problema ao carregar a imagem ou por softwares de leitura de
                tela.
              </p>
            </div>
            <div>//img_ex_imgs</div>
          </section>
          <section>
            <h2>URLs</h2>
            <div>
              <p class="leading-15">
                Os links e as imagens podem ser adicionados em um documento HTML
                com URLs absolutas ou relativas
              </p>
            </div>
            <div>//img_ex_urls</div>
          </section>
          <section>
            <h2>Tabelas</h2>
            <div>
              <p class="leading-15">
                Suponha que você esteja desenvolvendo o site de uma empresa e
                precisa apresentar alguns re- latórios em documentos HTML.
                Considere que os dados desses relatórios são obtidos a partir de
                planilhas. Daí surge a necessidade de exibir dados de forma
                tabular em páginas web.
              </p>
              <p class="leading-15">
                Para resolver esse problema, podemos utilizar o elemento
                <strong>table</strong>. Esse elemento permite apre- sentar dados
                de forma tabular. As linhas de uma tabela são definidas com o
                elemento <strong>tr</strong>, as células de títulos com o
                elemento <strong>th</strong> e as células de dados com o
                elemento <strong>td</strong>. Os elementos <strong>th</strong> e
                <strong>td</strong> pos- suem um atributo chamado
                <strong>colspan</strong> e outro chamado
                <strong>rowspan</strong>. O <strong>colspan</strong> define
                quantas colunas uma célula deve ocupar e o *rowspan define
                quantas linhas uma célula deve ocupar.
              </p>
            </div>
            <div>//img_ex_tabelas</div>
            <h4 class="text-2xl mb-4">Cabeçalho, corpo e rodapé</h4>
            <div>
              <p class="leading-15">
                Para melhorar a semântica das tabelas, podemos definir
                explicitamente o cabeçalho, o corpo e o rodapé de uma tabela
                através dos elementos <strong>thead</strong>,
                <strong>tbody</strong> e <strong>tfoot</strong> respectivamente,
                cuja semântica é:
              </p>
              <ul>
                <li><strong>thead</strong>: define o cabeçalho da tabela</li>
                <li><strong>tfoot</strong>: define o rodapé da tabela</li>
                <li><strong>tbody</strong>: define o corpo da tabela</li>
              </ul>
            </div>
            <div
              class="text-gray-800 text-base my-8 p-6 pl-8 bg-indigo-100 border-l-4 border-indigo-400 rounded shadow leading-15"
            >
              //nota
              <p>Porquê aplicar esses elementos?</p>
              <ul>
                <li>
                  O elemento <strong>thead</strong>, assim como o
                  <strong>tfoot</strong>, servem para agrupar as linhas de
                  cabeçalho e de ro- dapé, respectivamente.
                </li>
                <li>O código fica mais claro.</li>
                <li>
                  Facilita a aplicação de estilos CSS (através do seletor de
                  elemento)
                </li>
              </ul>
            </div>
            <div>//img_ex_tabela2</div>
          </section>
          <section>
            <h2>Formulários</h2>
            <div>
              <p class="leading-15">
                Alguns sites e praticamente todas as aplicações web necessitam
                obter informações enviadas pe- los usuários. Por exemplo,
                considere uma empresa que deseja receber os pedidos dos seus
                clientes através do seu site. O site dessa empresa precisa
                oferecer alguma forma de interação que possibilite o recebimento
                de dados fornecidos pelos usuários.
              </p>
              <p class="leading-15">
                Para tornar os sites e as aplicações web mais interativos,
                podemos utilizar formulários. Através dos formulários, os
                usuários podem enviar informações aos Web Servers.
              </p>
              <p class="leading-15">
                Para criar um formulário, devemos utilizar o elemento
                <strong>form</strong>. Esse elemento possui um atributo chamado
                <strong>action</strong>. O valor desse atributo indica para qual
                endereço os dados do formulário serão enviados.
              </p>
              <p class="leading-15">
                Os formulários são compostos por caixas de texto, checkboxes,
                radios, caixas de seleção, botões, entre outros componentes.
                Provavelmente, você reconhecerá diversos desses componentes na
                ima- gem abaixo.
              </p>
            </div>
            <div>//img_ex_form</div>
            <h4 class="text-2xl mb-4">Caixas de texto</h4>
            <div>
              <p class="leading-15">
                Geralmente, os formulários possuem uma ou mais caixas de texto.
                As caixas de texto são adici- onadas nos documentos HTML através
                do elemento <strong>input</strong>. Esse elemento possui um
                atributo cha- mado <strong>type</strong>. Para definir uma caixa
                de texto, o valor do atributo type deve ser
                <strong>text</strong>.
              </p>
            </div>
            <h4 class="text-2xl mb-4">Rótulos</h4>
            <div>
              <p class="leading-15">
                Nos formulários, os rótulos são fundamentais para informar aos
                usuários quais dados devem ser preenchidos. Para adicionar um
                rótulo, devemos utilizar o elemento <strong>label</strong>. Os
                textos dos rótulos são definidos no conteúdo desse elemento.
              </p>
            </div>
            <div
              class="text-gray-800 text-base my-8 p-6 pl-8 bg-indigo-100 border-l-4 border-indigo-400 rounded shadow leading-15"
            >
              //nota
              <p>
                Para melhorar a acessibilidade dos documentos HTML, os rótulos
                devem ser explicitamente as- sociados aos campos dos
                formulários. Para estabelecer esse vínculo, o primeiro passo é
                identificar os campos através do atributo <strong>id</strong>. O
                segundo passo é definir o atributo *for do elemento
                <strong>label</strong> com o identificador do campo
                correspondente ao rótulo.
              </p>
            </div>
            <h4 class="text-2xl mb-4">Placeholders</h4>
            <div>
              <p class="leading-15">
                Como vimos, os rótulos são utilizados para informar aos usuários
                quais dados devem ser preen- chidos nos formulários. Além dos
                rótulos, podemos utilizar placeholders para dar dicas ou
                exemplos do conteúdo que desejamos em cada caixa de entrada. Um
                placeholder é criado através do atributo
                <strong>placeholder</strong> do elemento <strong>input.</strong>
              </p>
            </div>
            <h4 class="text-2xl mb-4">Botões submit</h4>
            <div>
              <p class="leading-15">
                Para adicionar um botão de submit em um formulário, podemos
                utilizar o elemento <strong>input</strong> com
                <strong>type </strong> igual a <strong>submit.</strong> Esse
                tipo de botão envia os dados do formulário para o Web Server. Os
                textos desses botões são definidos com o atributo
                <strong>value</strong>.
              </p>
            </div>
            <div
              class="text-gray-800 text-base my-8 p-6 pl-8 bg-indigo-100 border-l-4 border-indigo-400 rounded shadow leading-15"
            >
              //nota
              <p>
                Outra forma de adicionar um botão de submit em um documento HTML
                é utilizar o elemento
                <strong>button</strong> com <strong>type</strong> igual a
                <strong>submit</strong>. Diferentemente do elemento
                <strong>input</strong>, o elemento
                <strong>button</strong> permite a criação de botões com imagens
                além de texto.
              </p>
            </div>
          </section>
        </div>
        <aside class="px-4 py-6">
          <h3 class="text-xl mb-2">Neste Curso</h3>
          <ul class="border-l-2 border-gray-200 pl-2">
            <li>
              <a href="http://" class="block p-1 hover:text-indigo-800"
                >Guia Completo</a
              >
            </li>
            <li>
              <a href="http://" class="block p-1 hover:text-indigo-800"
                >Fontes Extra</a
              >
            </li>
            <li>
              <a href="http://" class="block p-1 hover:text-indigo-800"
                >Exercícios</a
              >
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </body>
</html>
